/* Global CSS Code */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-background-primary: #09090b;
    --color-background-secondary: #161618;
    
    --color-blue-primary: #3b82f8;
    --color-blue-secondary: #4db5ff;

    --color-text-primary: #ffffff;
    --color-text-secondary: #8a9599;
    --color-text-button: #ffffff;

    --color-navigation-border: rgba(255, 255, 255, 0.2);
}

.light {
    --color-background-primary: #ffffff;
    --color-background-secondary: #f4f4f4;
    
    --color-blue-primary: #3b82f8;
    --color-blue-secondary: #4db5ff;

    --color-text-primary: #09090b;
    --color-text-secondary: #565658;
    --color-text-button: #ffffff;

    --color-navigation-border: rgba(0, 0, 0, 0.2);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
}

button {
    font-family: inherit;
    cursor: pointer;
}

@media screen and (max-width:  768px) {
    html {
        font-size: 14px !important;
    }
}

