/* Global CSS Code */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-dark-primary: #09090b;
    --color-dark-secondary: #161618;
    
    --color-blue-primary: #3b82f8;
    --color-blue-secondary: #4db5ff;

    --color-text-primary: #ffffff;
    --color-text-secondary: #8a9599;
}

.light {
    --color-dark-primary: #ffffff;
    --color-dark-secondary: #8a9599;
    
    --color-blue-primary: #3b82f8;
    --color-blue-secondary: #4db5ff;

    --color-text-primary: #09090b;
    --color-text-secondary: #161618;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-dark-primary);
    color: var(--color-text-primary);
}
